/* ==================================================================
   MISSIONS STYLES
   ================================================================== */

.mission-description {
  overflow: hidden;
  max-height: 20px;
  transition: max-height 0.3s ease-out;

  &.expanded {
    max-height: 300px;
  }
}
